/*CUSTOMM CSS*/
.weather-header {
    background-image: linear-gradient(90deg, rgb(79, 79, 235), rgb(1, 1, 72))!important;
}
.card {
    min-width: 100px;
    margin: 5px;
    color: white;
    background-color: rgb(1, 1, 54);
}